function Foo.main 4
//...
// Computes 8 * 5 + 7
//push constant 8
//push constant 5
call Foo.mult 2



//push constant 7
//add
//...
// Returns arg 0 * arg 1
//function Foo.mult 2
//push constant 0
//pop local 0
//push constant 1
//pop local 1
//...
// Returns the result
//push local 0
//return